/* Set the font type for the entire page */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif; /* Change the font type here */
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid white;
}

.name {
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}

